.wrangler/*
data/*
node_modules
/wrangler.toml
.DS_Store


*.sqlite
*.sqlite-*

.kiro/
.vscode/
.claude/
.agents/

/docs/*
CODE_OF_CONDUCT_DRAFT.md
CLAUDE.md
AGENTS.md
.agents/
.claude/
.superpower/
/test/*
